<section id="access-rights">
    <a href="https://accessibility.princeton.edu/help">Accessibility</a>

    <span id="copyright">
        <i class="ph-copyright ph-bold" aria-label="copyright"></i>
       {{ now.Format "2006" }} The Trustees of Princeton University
    </span>

    <a href="https://creativecommons.org/licenses/by/2.0/" aria-label="">
        <img
            src="/img/icons/ccbync.svg"
            width=""
            height=""
            alt=""
        />
    </a>

    <a id="version" href="{{ $.Site.Params.version_link }}" aria-label="version {{ $.Site.Params.version }}">v. {{ $.Site.Params.version }}</a>
    <a href="https://princeton.edu/">
        <img src="/img/logos/pu.svg" alt="Princeton University" />
    </a>
</section>
