<footer>
    <nav id="footer-nav">
        {{- $page := . }}
        {{/* get menu from site config; sort by configured weight */}}
        {{- $footerMenu := index site.Menus "footer" }}
        {{ range $entry := sort $footerMenu "Weight" }}
            {{ $active := $page.IsMenuCurrent $entry.Menu .}}
            <a href="{{ $entry.URL}}" {{ if $active }}aria-current="page"{{ end }}>{{ $entry.Title }}
        </a>
        {{- end }}
    </nav>
    <section id="partner-logos" aria-label="project partners">
        <a href="https://cdh.princeton.edu">
            <img src="/img/logos/cdh.svg" alt="The Center for Digital Humanities @ Princeton"/>
        </a>
        <a href="https://vizelab.princeton.edu">
            <img src="/img/logos/vizelab.svg" alt="VizE Lab, Anthropology" />
        </a>
         <a href="https://indigenous.princeton.edu/">
            <img src="/img/logos/naisip.svg" alt="Native American and Indigenous Studies Initiative at Princeton" />
        </a>
    </section>
</footer>