@import "components/footer";
@import "components/figures";

$mobile_header_height: 160px;
$desktop_header_height: 118px; // figma says 125 but that is too much space after tagline

body {
  /* use grid layout to keep the footer on the bottom */
  min-height: 100vh;
  display: grid;
  grid-template-rows: $mobile_header_height auto $mobile_footer_height $mobile_accessrights_height;
  grid-template-rows: $mobile_header_height auto auto auto;
  grid-template-areas:
    "header"
    "main"
    "footer"
    "accessrights";
  background-color: $nav-bg-color;
  color: $body-fg-color;

  @include for-desktop-up {
    grid-template-rows: $desktop_header_height auto $desktop_footer_height $desktop_accessrights_height;
    height: 100vh;
    max-height: 100vh;
    margin: 0;
  }

  main {
    grid-area: main;
    background-color: $body-bg-color;
  }
}

body > header {
  padding: 0 14px;

  @include for-desktop-up {
    padding: 0 24px;
  }
}

body > header,
body > footer {
  background-color: $nav-bg-color;

  a,
  a:link,
  a:visited {
    // set color since lighthouse is complaining about contrast
    color: $body-fg-color;
    text-decoration: underline;

    &.selected {
      font-weight: 900;
    }
  }
}

a:focus-visible,
button:focus-visible {
  outline: 3px solid $focus-color;
}

body > header {
  height: $mobile_header_height;
  grid-area: header;

  @include for-desktop-up {
    height: $desktop_header_height;
  }

  h1 {
    margin: 0;
    padding: 0;
    line-height: 0; // don't add space for line height
  }

  .tagline {
    font-style: italic;
    font-size: 1.1rem;
    line-height: 1.3rem;
    font-weight: 400;
    margin-bottom: 1.1rem;
    @include for-desktop-up {
      margin-bottom: 1.1rem;
    }
  }

  img {
    margin: 22px 0 8px;

    @include for-desktop-up {
      margin: 22px 0 8px; /* horizontal padding set on header */
    }
  }

  /* info button for mobile */
  .info {
    position: absolute;
    top: 0;
    right: 0;
    padding: 25px 25px;
    opacity: 1;
    cursor: pointer;

    @include for-desktop-up {
      visibility: hidden;
    }

    &[disabled] {
      opacity: 0.3;
      pointer-events: none;
    }

    i {
      width: 24px;
      height: 24px;
    }
  }
}

body > footer {
  height: $mobile_footer_height;
  grid-area: footer;

  @include for-desktop-up {
    height: $desktop_footer_height;
  }
}

a,
a:link,
a:hover,
a:visited {
  color: $body-fg-color;
  font-weight: normal;
  text-decoration: underline;
  text-decoration-color: $trunk-color;
  text-decoration-thickness: 3px;
  text-underline-offset: 4px;
  cursor: pointer;
  @include for-desktop-up {
    text-underline-offset: 6px;
  }
}

// indicators for external / non-web links
article a,
body.page main a {
  &[href^="http"]::after, &[href^="https://"]::after
  {
    content: "";
    display: inline-block;
    width: 0.8rem;
    height: 0.8rem;
    // use svg as a mask and then set background color with css
    background-color: $trunk-color;
    vertical-align: text-top;
    padding-left: 2px;
    mask-size: contain;
    mask-position: center;
    -webkit-mask-size: contain;
    -webkit-mask-position: center;
    @include phosphoricon("arrow-square-out-fill.svg");
  }
  // suppress for links to current site (probably only in citation)
  &[href^="https://lenapetimetree.indigenous.princeton.edu/"]::after
  {
    display: none !important;
  }

  &[href$="pdf"]::after {
    @include phosphoricon("file-pdf-fill.svg");
  }
  &[href$="pdf"]::after {
    @include phosphoricon("file-pdf-fill.svg");
  }
  &[href$="svg"]::after,
  &[href$="jpeg"]::after,
  &[href$="png"]::after,
  &[href$="jpeg"]::after {
    @include phosphoricon("file-image-fill.svg");
  }
}

// margins for content pages
body.page {
  main {
    padding: 0.6rem 0.8rem 2rem;

    @include for-desktop-up {
      padding: 0.8rem 0 2rem;

      article {
        max-width: 42.2rem;
        margin: 0 auto;
      }
    }
  }
}

// visual design for content pages and tag index page
body.page,
body.taxonomy {
  main {
    background-image: url("/img/sycamore-mobile.png");
    background-repeat: no-repeat;
    background-position: top right;

    @include for-desktop-up {
      background-image: url("/img/sycamore-desktop.png");
    }
  }
}

p {
  margin-bottom: 0.6rem;
}

// h2 immediately after a paragraph or list needs more space
p + h2,
ul + h2,
ol + h2 {
  margin-top: 0.4rem;
}

ul,
ol {
  list-style-type: disc;
  margin-left: 1.2rem;
  margin-bottom: 0.6rem;
  margin-top: 0.2rem;

  @include for-desktop-up {
    margin-top: 0.4rem;
  }

  li::marker {
    color: $trunk-color;
    font-size: 1.5em;
    line-height: 1.35rem;

    @include for-desktop-up {
      line-height: 1.5rem;
    }
  }
}

ol {
  list-style-type: decimal;

  li::marker {
    color: $trunk-color;
    font-size: 1em;
  }
}

blockquote {
  border-left: 3px solid $trunk-color;
  padding-left: 1.2em;

  cite {
    display: block;
    text-align: right;
    padding-right: 2em;
    &::before {
      content: "— ";
    }
  }
}

em {
  font-style: italic;
}

strong {
  font-weight: bold;
}

sup {
  vertical-align: super;
  font-size: smaller;
}

dl {
  margin-bottom: 1rem;

  dt {
    font-weight: 900;
    font-size: 1rem;
    line-height: 1.5rem;
    margin-bottom: 0.1rem;

    @include for-desktop-up {
      font-size: 1.1rem;
      line-height: 1.65rem;
    }
  }

  dd + dt {
    margin-top: 0.6rem;
  }
}

.footnotes {
  margin: 2.5rem 0 3rem;
  /* use same font size as figure captions */
  font-size: 0.7rem;
  line-height: 0.95rem;

  @include for-desktop-up {
    font-size: 0.8rem;
    line-height: 1.1rem;
  }

  li::marker {
    font-weight: 700;
  }

  /* link from end of footnote back to reference */
  .footnote-backref {
    text-decoration: none;
    color: $trunk-color;
    font-weight: 900;
    font-size: 125%;
  }
}

/* special case: hanging indent for references on resource page.
   Style via class on h2. */
.references ~ p,
.citation p {
  padding-left: 1.5rem;
  text-indent: -1.5rem;
}

.citation {
  margin: 1.2em 0 1rem 1.2rem;

  @include for-desktop-up {
    margin: 1.5rem 0 1.5rem 1.5rem;
  }
}

/* turn off for paragraphs not immediately after an h2 with reference class */
h2:not(.references) ~ p {
  padding-left: 0;
  text-indent: 0;
}

.tags {
  margin-top: 20px;
}

title {
  display: inline;
  font-style: italic;
}
