body.home {
  main {
    max-height: calc(
      100vh - #{$mobile_header_height} - #{$mobile_footer_height}
    );

    // on mobile, panel is positioned absolutely at bottom of screen
    & > aside {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      width: 100%;
      height: 35vh; // should at least be taller than footer ?
    }

    @include for-desktop-up {
      // desktop is two columns (tree | panel)
      display: grid;
      grid-template-columns: 60% 28%;
      column-gap: 12%; // 100 - 60 - 28
      padding: 0 22px 0 0;

      max-height: calc(
        100vh - #{$desktop_header_height} - #{$desktop_footer_height}
      );

      > aside {
        position: relative;
        padding: $margin;
      }
    }

    #timetree {
      height: inherit;
      max-height: inherit;
      font-size: 14px;
      line-height: 18px;

      svg {
        height: 100%;
        max-width: 100%;
      }

      rect.century-container {
        stroke: $dashes-color;
        stroke-dasharray: 8;
        fill: transparent;
        border-bottom: 1px solid yellow;
      }

      text.century-label {
        fill: $nearwhite;
        line-height: 18px;
      }

      circle.select {
        stroke: #1d1c01;
        stroke-width: 4px;
      }

      text.select {
        font-weight: 900;
      }

      circle.leaf-label {
        display: none;
      }

      text:hover {
        font-weight: 900;
      }

      .branch-a {
        fill: $branch-color-a;
      }
      .branch-b {
        fill: $branch-color-b;
      }
      .branch-c {
        fill: $branch-color-c;
      }
      .branch-d {
        fill: $branch-color-d;
      }
      .branch-e {
        fill: $branch-color-e;
      }

      circle.branch,
      circle.trunk {
        fill: $trunk-color;
        opacity: 0.7;
      }

      path.trunk {
        fill: transparent;
        stroke: $trunk-color;
        stroke-width: 3px;
      }
    }

    text.leaf-label {
      fill: $body-fg-color;
    }

    circle.select {
      stroke: #fecd70;
      stroke-width: 2px;
    }
    text.select {
      fill: #fecd70;
    }

    text {
      fill: lightgray;
    }

    // styles for intro text and selected panel
    > aside {
      background-color: $body-bg-color;
      padding: $margin;

      // allow closing the intro on mobile
      &.closed {
        visibility: hidden;
      }
      &.show-panel {
        visibility: visible;
      }

      @include for-desktop-up {
        .close {
          visibility: hidden;
        }

        // hide the close button unless panel has content
        &.show-panel .close {
          visibility: visible;
        }
        &.closed {
          visibility: visible;
        }
      }

      > .close {
        position: absolute;
        right: $margin;
        top: $margin;
        padding: $margin;
        z-index: 3;
        text-decoration: none;
        color: $nearblack;
      }

      // selected panel
      #panel {
        // hide by default
        visibility: hidden;
        // set background to hide intro content
        background-color: $body-bg-color;
        // padding: $margin;
        position: absolute;
        top: 0;
        left: 0;
        max-width: 100%;
      }

      &.show-panel #panel {
        visibility: visible;
        bottom: 0;
        width: 100vw;
        max-height: 40vh;
        overflow: scroll;

        @include for-desktop-up {
          bottom: auto;
          top: 0;
          max-height: 545px;
        }
      }
    }
  }
}

// styles for leaf details
#panel article {
  margin: 0;
  header {
    h1 {
      margin-bottom: 2px;
    }
    aside,
    time {
      // branch name, display date
      font-weight: 700;
      font-size: 18px;
      @include for-desktop-up {
        font-size: 20px;
      }
    }

    margin-bottom: 16px;
  }

  background-color: $nearwhite;
  color: $nearblack;
  padding: 16px;
}

.tags a {
  display: inline-block;
  text-decoration: none;
  margin: 0 12px 12px 0;
  padding: 9px 12px;
  background-color: $lightgray;
  color: $nearblack;

  font-size: 16px;
  line-height: 22px;
  @include for-desktop-up {
    font-size: 18px;
  }
}

// provisional styles to delimit leaves on tag list page
article.container article {
  padding-bottom: 12px;
  border-bottom: 1px dashed $line-color;
}
