// breakpoints
$breakpoint-xs: 320px; // ~ phone
$breakpoint-s: 810px; // ~ tablet, portrait
$breakpoint-m: 1024px; // ~ tablet landscape
$breakpoint-l: 1280px; // ~ small desktop
$breakpoint-xl: 1440px; // ~ target desktop size

// layout TBD
$gutter: 10px;
$grid-gap: 10px;

$margin: 22px;

@mixin for-phone-only {
  @media (max-width: $breakpoint-xs) {
    @content;
  }
}

// mobile threshold for this project is 790x and below
@mixin for-mobile {
  @media (max-width: $breakpoint-s) {
    @content;
  }
}

@mixin for-tablet-only {
  @media (min-width: $breakpoint-xs + 1px) and (max-width: $breakpoint-s) {
    @content;
  }
}

// tablet in portrait mode will get desktop view
@mixin for-desktop-up {
  @media (min-width: $breakpoint-s + 1px) {
    @content;
  }
}
