// colors
$line-color: #8e8e8e;

$nearwhite: #fefefe; // #F8F8F8 ?
$offwhite: #f7f7f7;
$nearblack: #121212;
$lightgray: #eeeeee;

$body-bg-color: #61514b;
$nav-bg-color: #4b413e;
$body-fg-color: $nearwhite;
$scrollbar-color: rgba(197, 176, 160, 0.75);

// tree colors
$root-color: rgba(197, 176, 160, 0.5); // #C5B0A0, 50% opacity
$trunk-color: #c5b0a0;
$branch-color: #b5a193;

$dashes-color: rgba(254, 254, 254, 0.4); // near white, 40% opacity
// leaf colors; a-e indicate leaves in different branches
$leaf-color-a: #ffdcae;
$leaf-color-b: #fecd70;
$leaf-color-c: #c5d18c;
$leaf-color-d: #99c886;
$leaf-color-e: #d89479;

// leaf fill color
$leaf-color: (
  "a": #ffdcae,
  "b": #fecd70,
  "c": #ced89e,
  "d": #99c886,
  "e": #d89479,
);
// selected leaf outline
$leaf-outline-color: (
  "a": #ac6100,
  "b": #916001,
  "c": #606b2b,
  "d": #3f6231,
  "e": #582b1a,
);
// leaf glow color; fill color at 50% opacity
$leaf-glow-color: (
  "a": rgba(255, 220, 174, 0.5),
  "b": rgba(254, 205, 112, 0.5),
  "c": rgba(206, 216, 158, 0.5),
  "d": rgba(153, 200, 134, 0.5),
  "e": rgba(216, 148, 121, 0.5),
);

$focus-color: #000000;
