{{/* tag index page */}}
{{ define "main" }}
  <article class="tag-index">
    <h1>{{- .Title -}}</h1>
    {{ with .Content }}
    <div>{{ . }}</div>
    {{ end }}
      <section class="tags">
        <ul>
          {{ range .Data.Terms.Alphabetical }}
          {{/* use the last portion of the permalink to get the slug for the tag */}}
          <li><a href="{{ relURL "" }}?tag={{ .Page.RelPermalink | path.Base }}">{{ .Page.Title }}
            <span class="count">({{ .Count }})</span></a>
           </li>
          {{ end }}
        </ul>
</section>
{{ end }}
