// Import Pico
@import "node_modules/@picocss/pico/scss/pico";


body {
	/* use grid layout to keep the footer on the bottom */
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

body > header, body > footer {
	padding: 0 22px;
	background-color: #404040;
}

body > header {
	height: 48px;

	h1 {
		margin: 0;
		padding: 0;
	}

	overflow: hidden;  // don't allow spillover on mobile for now (mobile header TBD)

	@media (min-width: map-get($breakpoints, "sm")) {
		height: 75px;
    }
}

body > footer {
	border-top: 1px dashed #8E8E8E;
	height: 250px;

	@media (min-width: map-get($breakpoints, "sm")) {
		height: 170px;
	}
}

main > svg {
	// take up all the space in the main container
	height: 100%;
	max-height: 100%;
	max-width: 100%;
}


// selected panel
#panel {
	// hide by default
	visibility: hidden;
	border: 1px dashed #8E8E8E;
	margin: 0;
	position: absolute;

	> .close {
		float: right;
		padding: 22px;
		text-decoration: none;
	}

	&.active {
		visibility: visible;

		bottom: 0;
		width: 100vw;
		max-height: 40vh;
		overflow: scroll;

		@media (min-width: map-get($breakpoints, "sm")) {
			bottom: auto;
			right: 22px; /* header margin, should be var */
			top: 75px; /* desktop header height, should be var */
			width: 410px;
			height: 545px;
			max-height: 545px;

		}

	}

	article  {
		margin: 0;
	}

}


