$mobile_footer_height: 250px;
$desktop_footer_height: 130px;

body > footer {
  // height: $mobile_footer_height;
  position: relative;

  @include for-desktop-up {
    // height: $desktop_footer_height;
    margin: 0;
    padding: 0;

    // needs to match the grid of the timetree and leaf details panel
    display: grid;

    grid-template-columns: auto 410px;
    column-gap: 38px; // space between panel and timetree
    padding-right: 40px; // needs to match right margin outside the panel
    grid-template-areas: "nav" "logos";

    // grid-template-columns: auto $desktop_panel_width; // 410px;
    // column-gap: $column_gap; //  38px; // space between panel and timetree
  }

  nav {
    grid-area: nav;
    // grid-row-start: 1;
    // grid-column-start: 1;

    // use flex to space out footer links evenly
    display: flex;

    // limit footer nav width on larger screens
    @include for-desktop-up {
      width: 70%; /* fixme: should match timetree container; use grid to enforce? */
    }

    > * {
      flex-grow: 1;
    }
    // make links sufficiently large tap targets
    a {
      text-align: center;
      display: block;
      height: 48px;
      font-size: 16px;

      @include for-desktop-up {
        font-size: 18px;

        height: $desktop_footer_height;

        // vary vertical height based on position
        &:nth-child(1) {
          padding: calc(0.4 * #{$desktop_footer_height});
        }
        &:nth-child(2) {
          padding: calc(0.65 * #{$desktop_footer_height});
        }
        &:nth-child(3) {
          padding: calc(0.2 * #{$desktop_footer_height});
        }
        &:nth-child(4) {
          padding: calc(0.5 * #{$desktop_footer_height});
        }
        &:nth-child(5) {
          padding: calc(0.3 * #{$desktop_footer_height});
        }
      }
    }

    a,
    a:link,
    a:hover,
    a:visited {
      text-decoration: none;

      // add same text shadow as labels in the tree,
      // for visibility over the roots
      text-shadow: $nav-bg-color 0px 0px 4px;

      &[aria-current="page"] {
        font-weight: 900;
      }
    }
  }

  svg {
    grid-area: nav;
    // grid-row-start: 1;
    // grid-column-start: 1;

    // width: 100%;
    overflow: visible;
    width: calc(100vw - 38px - 410px);
    max-width: calc(100vw - 38px - 410px);
    // border: 1px solid yellow;  /* for debugging position/size *
    // width: 100%; /* must match the tree */
  }
}
