$tag-color: (
  "default": #e1d0ca,
  "hover": #fcede8,
  "active": #ffdacc,
);

.tags {
  /* use flex to avoid unwanted space between tags caused by
    whitespace between tags in the markup */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  margin-top: 20px;
}

.tags a {
  display: inline-block;
  text-decoration: none;
  margin: 0 12px 12px 0;
  padding: 9px 12px;
  background-color: map-get($tag-color, "default");
  color: $nearblack;
  border-radius: 4px;

  font-size: 16px;
  line-height: 22px;
  @include for-desktop-up {
    font-size: 18px;
  }

  // text should always be black (override regular links)
  &:link,
  &:hover,
  &:visited {
    color: $nearblack;
  }

  &:hover {
    background-color: map-get($tag-color, "hover");
  }

  &:focus-visible,
  &:active {
    // use outline instead of border so size is not affected
    outline: 3px solid black;
  }

  &.select {
    // user-selected, currently active tag
    background-color: map-get($tag-color, "active");
  }
}

// button displayed for current tag, when a tag is active
#current-tag {
  color: $nearblack;
  display: block;
  width: 100%;
  background-color: map-get($tag-color, "active");
  text-align: center;

  opacity: 0; // hidden by default; visible only when a tag is active

  @include for-desktop-up {
    border-radius: 4px;
    width: auto;
    text-align: left;
  }

  span {
    line-height: 40px;
    padding: 0 12px;
  }

  .close {
    float: right;
    display: inline-block;
    cursor: pointer;
    padding: 12px;
    border-left: 2px solid $body-bg-color;

    i {
      width: 20px;
      height: 20px;
    }
  }
}

// tag index page
body.taxonomy {
  h1 {
    margin: 40px 22px 20px;

    @include for-desktop-up {
      margin: 50px 60px 20px;
    }
  }
}

.tag-index {
  margin: 0 18px 22px;

  @include for-desktop-up {
    margin: 0 60px 38px;
    // display in two columns on desktop only
    columns: 2 auto; // second arg is width
    column-gap: 8px;
    // don't let the columns get too far apart;
    // set max width based on expected size at xl breakpoint
    max-width: calc(#{$breakpoint-xl} - 120px);
  }

  .tags {
    margin-top: 0;

    a {
      margin: 8px 0 8px;
    }
  }

  .count {
    font-size: 14px;
    padding-left: 12px;

    @include for-desktop-up {
      font-size: 16px;
    }
  }
}
